# Virtual Environment
env/

# Python compilated files
__pycache__/
*.py[cod]
*$py.class

# SQLite DB
db.sqlite3

# Environment configuration (variables sensibles)
.env

# Log files
*.log

# System files
.DS_Store
Thumbs.db
